/* =====================
   Event Card Styling
   ===================== */
.eventCard {
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    /* Default */
    background-color: #fefefe;
}